<div class="modal fade checkAge" id="ageModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="age-limit" id="modal-age-limit">
                    <h1>

                        {{ "PLUGINS.AGE_VERIFICATION.TITLE"|t }}
                    </h1>
                    <div class="text-important" id="modal-age-limit">
                        <h4 class="title">

                            {{ "PLUGINS.AGE_VERIFICATION.DESC"|t }}
                        </h4>
                    </div>
                </div>
                <div class="form-area">
                    <div class="verification-denied" id="modal-error">
                        <h4 >
                            <strong>
                                {{ "PLUGINS.AGE_VERIFICATION.DENIED"|t }}
                            </strong>
                        </h4>

                    </div>
                    <form class="form-inline" role="form">
                        <div class="formular">

                            <div class="form-group">
                                <label for="verify-month">
                                    {{ "PLUGINS.AGE_VERIFICATION.MONTH"|t }}
                                </label>
                                <input name="verify-month" class="form-control" id="verify-month" placeholder="MM" size='2'>

                            </div>
                            <br/>
                            <div class="form-group">
                                <label for="verify-day">
                                    {{ "PLUGINS.AGE_VERIFICATION.DAY"|t }}
                                </label>
                                <input name="verify-day" class="form-control" id="verify-day" placeholder="DD" size='2'>

                            </div>
                            <br/>
                            <div class="form-group">
                                <label for="verify-year">
                                    {{ "PLUGINS.AGE_VERIFICATION.YEAR"|t }}
                                </label>
                                <input name="verify-year" class="form-control" id="verify-year" placeholder="YYYY" size='4'>

                            </div>
                            <br/>
                        </div>
                        <div class="" id="age-submit-area ">
                            <div class="jqtransform remember">
                                <label for="remember">
                                    <input type="checkbox" value="None" id="remember" name="check"/>

                                    {{ "PLUGINS.AGE_VERIFICATION.REMEMBER"|t }}
                                </label>
                            </div>
                            <button type="button" name="button" class="submit " id="age-submit">
                                {{ "PLUGINS.AGE_VERIFICATION.VERIFY"|t }}
                            </button>
                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <h3>
                    {{ "PLUGINS.AGE_VERIFICATION.ACCEPT"|t }}</h3>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <script>
        moment().format();
    </script>
</div>
<!-- /.modal -->
